body {
  margin:0px;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
  position:static;
  left:auto;
  width:678px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:241px;
  width:95px;
  height:29px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:287px;
  width:95px;
  height:29px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:241px;
  width:192px;
  height:25px;
}
#u180_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:287px;
  width:192px;
  height:25px;
}
#u181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:414px;
  width:75px;
  height:25px;
}
#u182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:345px;
  width:100px;
  height:16px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u183_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:378px;
  width:100px;
  height:16px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u184_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:378px;
  width:100px;
  height:16px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u185_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:50px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:150px;
  width:508px;
  height:49px;
  font-size:18px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:504px;
  word-wrap:break-word;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:24px;
  width:103px;
  height:30px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:49px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:499px;
  width:376px;
  height:49px;
  font-size:14px;
  color:#FF0000;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:372px;
  word-wrap:break-word;
}
