body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:436px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:45px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:15px;
  width:151px;
  height:45px;
  font-size:18px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:147px;
  word-wrap:break-word;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:80px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:78px;
  width:225px;
  height:80px;
  font-size:16px;
  text-align:left;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:47px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:168px;
  width:118px;
  height:47px;
  font-size:16px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:114px;
  word-wrap:break-word;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:179px;
  width:300px;
  height:25px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:263px;
  width:106px;
  height:25px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:263px;
  width:98px;
  height:25px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
