body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:54px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:10px;
  width:234px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:230px;
  word-wrap:break-word;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:136px;
  width:98px;
  height:31px;
  font-size:16px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:177px;
  width:346px;
  height:178px;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:86px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:86px;
  color:#0066CC;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:111px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:86px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:115px;
  height:86px;
  color:#0066CC;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:111px;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:86px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:116px;
  height:86px;
  color:#0066CC;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:112px;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:92px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:115px;
  height:92px;
  color:#0066CC;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:111px;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:92px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:86px;
  width:115px;
  height:92px;
  color:#0066CC;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:111px;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:92px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:86px;
  width:116px;
  height:92px;
  color:#0066CC;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:112px;
  word-wrap:break-word;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:429px;
  width:285px;
  height:36px;
  color:#FF0000;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:27px;
  width:103px;
  height:30px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
