body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:39px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:24px;
  width:230px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:226px;
  word-wrap:break-word;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:150px;
  width:98px;
  height:31px;
  font-size:16px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:191px;
  width:346px;
  height:178px;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:86px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:86px;
  color:#0066CC;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:111px;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:86px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:115px;
  height:86px;
  color:#0066CC;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:111px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:86px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:116px;
  height:86px;
  color:#0066CC;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:112px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:92px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:115px;
  height:92px;
  color:#0066CC;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:111px;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:92px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:86px;
  width:115px;
  height:92px;
  color:#0066CC;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:111px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:92px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:86px;
  width:116px;
  height:92px;
  color:#0066CC;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:112px;
  word-wrap:break-word;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:443px;
  width:285px;
  height:36px;
  color:#FF0000;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:41px;
  width:103px;
  height:30px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
